<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <appSettings>
        <add key="MSSDK.Academic" value="${CognitiveService.ApiKey.MSSDK.Academic}" />
        <add key="MSSDK.AcademicEndpoint" value="${CognitiveService.ApiKey.MSSDK.Academic.Endpoint}" />
        <add key="MSSDK.AcademicRetryInSeconds" value="${CognitiveService.ApiKey.MSSDK.Academic.RetryInSeconds}" />
        <add key="MSSDK.BingAutosuggest" value="${CognitiveService.ApiKey.MSSDK.BingAutosuggest}" />
        <add key="MSSDK.BingAutosuggestEndpoint" value="${CognitiveService.ApiKey.MSSDK.BingAutosuggest.Endpoint}" />
        <add key="MSSDK.BingAutosuggestRetryInSeconds" value="${CognitiveService.ApiKey.MSSDK.BingAutosuggest.RetryInSeconds}" />
        <add key="MSSDK.BingSearch" value="${CognitiveService.ApiKey.MSSDK.BingSearch}" />
        <add key="MSSDK.BingSearchEndpoint" value="${CognitiveService.ApiKey.MSSDK.BingSearch.Endpoint}" />
        <add key="MSSDK.BingSearchRetryInSeconds" value="${CognitiveService.ApiKey.MSSDK.BingSearch.RetryInSeconds}" />
        <add key="MSSDK.BingSpellCheck" value="${CognitiveService.ApiKey.MSSDK.BingSpellCheck}" />
        <add key="MSSDK.BingSpellCheckEndpoint" value="${CognitiveService.ApiKey.MSSDK.BingSpellCheck.Endpoint}" />
        <add key="MSSDK.BingSpellCheckRetryInSeconds" value="${CognitiveService.ApiKey.MSSDK.BingSpellCheck.RetryInSeconds}" />
        <add key="MSSDK.ComputerVision" value="${CognitiveService.ApiKey.MSSDK.ComputerVision}" />
        <add key="MSSDK.ComputerVisionEndpoint" value="${CognitiveService.ApiKey.MSSDK.ComputerVision.Endpoint}" />
        <add key="MSSDK.ComputerVisionRetryInSeconds" value="${CognitiveService.ApiKey.MSSDK.ComputerVision.RetryInSeconds}" />
        <add key="MSSDK.ContentModerator" value="${CognitiveService.ApiKey.MSSDK.ContentModerator}" />
        <add key="MSSDK.ContentModeratorClientId" value="${CognitiveService.ApiKey.MSSDK.ContentModerator.ClientId}" />
        <add key="MSSDK.ContentModeratorPrivateKey" value="${CognitiveService.ApiKey.MSSDK.ContentModerator.PrivateKey}" />
        <add key="MSSDK.ContentModeratorEndpoint" value="${CognitiveService.ApiKey.MSSDK.ContentModerator.Endpoint}" />
        <add key="MSSDK.ContentModeratorRetryInSeconds" value="${CognitiveService.ApiKey.MSSDK.ContentModerator.RetryInSeconds}" />
        <add key="MSSDK.EntityLinking" value="${CognitiveService.ApiKey.MSSDK.EntityLinking}" />
        <add key="MSSDK.EntityLinkingEndpoint" value="${CognitiveService.ApiKey.MSSDK.EntityLinking.Endpoint}" />
        <add key="MSSDK.EntityLinkingRetryInSeconds" value="${CognitiveService.ApiKey.MSSDK.EntityLinking.RetryInSeconds}" />
        <add key="MSSDK.Face" value="${CognitiveService.ApiKey.MSSDK.Face}" />
        <add key="MSSDK.FaceEndpoint" value="${CognitiveService.ApiKey.MSSDK.Face.Endpoint}" />
        <add key="MSSDK.FaceRetryInSeconds" value="${CognitiveService.ApiKey.MSSDK.Face.RetryInSeconds}" />
        <add key="MSSDK.Luis" value="${CognitiveService.ApiKey.MSSDK.Luis}" />
        <add key="MSSDK.LuisEndpoint" value="${CognitiveService.ApiKey.MSSDK.Luis.Endpoint}" />
        <add key="MSSDK.LuisRetryInSeconds" value="${CognitiveService.ApiKey.MSSDK.Luis.RetryInSeconds}" />
        <add key="MSSDK.Personalizer" value="${CognitiveService.ApiKey.MSSDK.Personalizer}" />
        <add key="MSSDK.PersonalizerEndpoint" value="${CognitiveService.ApiKey.MSSDK.Personalizer.Endpoint}" />
        <add key="MSSDK.PersonalizerRetryInSeconds" value="${CognitiveService.ApiKey.MSSDK.Personalizer.RetryInSeconds}" />
        <add key="MSSDK.QnA" value="${CognitiveService.ApiKey.MSSDK.QnA}" />
        <add key="MSSDK.QnAEndpoint" value="${CognitiveService.ApiKey.MSSDK.QnA.Endpoint}" />
        <add key="MSSDK.QnARetryInSeconds" value="${CognitiveService.ApiKey.MSSDK.QnA.RetryInSeconds}" />
        <add key="MSSDK.SpeakerRecognition" value="${CognitiveService.ApiKey.MSSDK.SpeakerRecognition}" />
        <add key="MSSDK.SpeakerRecognitionEndpoint" value="${CognitiveService.ApiKey.MSSDK.SpeakerRecognition.Endpoint}" />
        <add key="MSSDK.SpeakerRecognitionRetryInSeconds" value="${CognitiveService.ApiKey.MSSDK.SpeakerRecognition.RetryInSeconds}" />
        <add key="MSSDK.Speech" value="${CognitiveService.ApiKey.MSSDK.Speech}" />
        <add key="MSSDK.SpeechEndpoint" value="${CognitiveService.ApiKey.MSSDK.Speech.Endpoint}" />
        <add key="MSSDK.SpeechTokenEndpoint" value="${CognitiveService.ApiKey.MSSDK.Speech.TokenEndpoint}" />
        <add key="MSSDK.SpeechRetryInSeconds" value="${CognitiveService.ApiKey.MSSDK.Speech.RetryInSeconds}" />
        <add key="MSSDK.TextAnalytics" value="${CognitiveService.ApiKey.MSSDK.TextAnalytics}" />
        <add key="MSSDK.TextAnalyticsEndpoint" value="${CognitiveService.ApiKey.MSSDK.TextAnalytics.Endpoint}" />
        <add key="MSSDK.TextAnalyticsRetryInSeconds" value="${CognitiveService.ApiKey.MSSDK.TextAnalytics.RetryInSeconds}" />
        <add key="MSSDK.Video" value="${CognitiveService.ApiKey.MSSDK.Video}" />
        <add key="MSSDK.VideoEndpoint" value="${CognitiveService.ApiKey.MSSDK.Video.Endpoint}" />
        <add key="MSSDK.VideoRetryInSeconds" value="${CognitiveService.ApiKey.MSSDK.Video.RetryInSeconds}" />
    </appSettings>
    <runtime>
        <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
            <dependentAssembly>
                <assemblyIdentity name="Castle.Core" publicKeyToken="407dd0808d44fbdc" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed"/>
                <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0"/>
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="Microsoft.Extensions.DependencyInjection.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
            </dependentAssembly>
        </assemblyBinding>
    </runtime>
</configuration>