<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <services>
      <configurator type="SitecoreCognitiveServices.Foundation.SCSDK.SCSDKIocConfig, SitecoreCognitiveServices.Foundation.SCSDK" />
      <configurator type="SitecoreCognitiveServices.Foundation.SCSDK.MSSDKIocConfig, SitecoreCognitiveServices.Foundation.SCSDK" />
      <configurator type="SitecoreCognitiveServices.Foundation.SCSDK.IBMSDKIocConfig, SitecoreCognitiveServices.Foundation.SCSDK" />
      <configurator type="SitecoreCognitiveServices.Foundation.SCSDK.LexSDKIocConfig, SitecoreCognitiveServices.Foundation.SCSDK" />
      <configurator type="SitecoreCognitiveServices.Foundation.SCSDK.NexSDKIocConfig, SitecoreCognitiveServices.Foundation.SCSDK" />
    </services>
    <settings>
      <!-- Module Settings-->
      <setting name="CognitiveService.ContentNode" value="{0DE95AE4-41AB-4D01-9EB0-67441B7C2450}" />
      <setting name="CognitiveService.SCSDKTemplatesFolder" value="{D7F5E50E-808F-4E71-9EAD-F8CE26CE49A8}" />
      <setting name="CognitiveService.SCSModulesFolder" value="{00E3DE41-11A3-4295-9767-9DD3DC832C02}" />
      <setting name="CognitiveService.IBMSDK.ID" value="{503A5B1D-6F2F-41EC-9A77-AE1DAA37A987}" />
      <setting name="CognitiveService.MSSDK.ID" value="{03BAF8AE-03CB-4E30-875C-0901EBA6A163}" />
      <setting name="CognitiveService.LexSDK.ID" value="{8BCA2200-8F29-434F-937E-3ECBC2351737}" />
      <setting name="CognitiveServcie.NexSDK.ID" value="{12610706-326D-4FC3-B700-E7EFDC74522E}" />
      <setting name="CognitiveService.CatchAndReleaseExceptions" value="false" />
      <setting name="CognitiveService.SitecoreIndexNameFormat" value="sitecore_{0}_index" />
      <setting name="CognitiveService.WebDatabase" value="web" />
      <setting name="CognitiveService.MasterDatabase" value="master" />
      <setting name="CognitiveService.CoreDatabase" value="core" />
      <setting name="CognitiveService.EnumerationNameFieldId" value="{D36F919E-FFDA-4A3D-B389-3CFB820FCBAD}" />
      <setting name="CognitiveService.EnumerationValueFieldId" value="{999DFCC7-A0FA-4DE2-852F-F1ECE1983E58}" />
      <!-- MSSDK API Fields -->
      <setting name="CognitiveService.MSSDK.AcademicFieldId" value="{76603B88-8571-4E62-A45F-90DE5C58F3B5}" />
      <setting name="CognitiveService.MSSDK.AcademicEndpointFieldId" value="{3EBA4A15-B69A-4ABF-9990-786787F9D083}" />
      <setting name="CognitiveService.MSSDK.AcademicRetryInSecondsFieldId" value="{E0C4F635-DAF8-4D1A-88D1-6D0E10446E88}" />
      <setting name="CognitiveService.MSSDK.BingAutosuggestFieldId" value="{6A9CC2E1-739E-4B97-8FC8-27359B0C54AE}" />
      <setting name="CognitiveService.MSSDK.BingAutosuggestEndpointFieldId" value="{E84B41CD-CF03-47E7-A108-5A802F1B96BD}" />
      <setting name="CognitiveService.MSSDK.BingAutosuggestRetryInSecondsFieldId" value="{F83EE498-051A-42B7-889F-6FE0129ADE44}" />
      <setting name="CognitiveService.MSSDK.BingSearchFieldId" value="{5C57316F-765C-40EE-82C1-62417BE7FE71}" />
      <setting name="CognitiveService.MSSDK.BingSearchEndpointFieldId" value="{8B3EEFAC-D464-47A9-92A6-EAE52B7343F4}" />
      <setting name="CognitiveService.MSSDK.BingSearchRetryInSecondsFieldId" value="{3DD8B523-F7CB-4C58-BCC1-EF563942CBD2}" />
      <setting name="CognitiveService.MSSDK.BingSpellCheckFieldId" value="{7542BDA3-15B0-464A-9013-CD2A5D4001F8}" />
      <setting name="CognitiveService.MSSDK.BingSpellCheckEndpointFieldId" value="{19280BBA-089C-46BD-A26F-844F84E684AD}" />
      <setting name="CognitiveService.MSSDK.BingSpellCheckRetryInSecondsFieldId" value="{63795EEF-0D7B-4C96-95AB-E5DC85C45C95}" />
      <setting name="CognitiveService.MSSDK.ComputerVisionFieldId" value="{5B0A8E62-3E77-4EF8-98C3-1E754D9B3570}" />
      <setting name="CognitiveService.MSSDK.ComputerVisionEndpointFieldId" value="{0B065ECF-2040-47B0-8613-2FB956C46085}" />
      <setting name="CognitiveService.MSSDK.ComputerVisionRetryInSecondsFieldId" value="{6B7CBCD9-09F6-4BB8-A0F2-8E6D5204F088}" />
      <setting name="CognitiveService.MSSDK.ContentModeratorFieldId" value="{F27C051D-FF17-4FE9-A16C-FC0F923F44BC}" />
      <setting name="CognitiveService.MSSDK.ContentModeratorClientIdFieldId" value="{CC2F753D-2F02-4DF1-B282-FD0119F70A1F}" />
      <setting name="CognitiveService.MSSDK.ContentModeratorPrivateKeyFieldId" value="{3A52B153-F1C7-4EB1-AF7A-DEC164630314}" />
      <setting name="CognitiveService.MSSDK.ContentModeratorEndpointFieldId" value="{353604A1-617F-4375-92FE-2D20F1919C8F}" />
      <setting name="CognitiveService.MSSDK.ContentModeratorRetryInSecondsFieldId" value="{48B97C2C-F601-4D2A-B97B-F36E19B8E182}" />
      <setting name="CognitiveService.MSSDK.EntityLinkingFieldId" value="{EE67B88F-A4F9-4FA1-95EC-3FB0B23534B6}" />
      <setting name="CognitiveService.MSSDK.EntityLinkingEndpointFieldId" value="{C0934F14-FCF4-46FB-9BF4-F7681736CFD7}" />
      <setting name="CognitiveService.MSSDK.EntityLinkingRetryInSecondsFieldId" value="{D3A017FC-E32F-4636-BC87-FBA7EA5EAA92}" />
      <setting name="CognitiveService.MSSDK.FaceFieldId" value="{382B7F16-CF03-426C-89DF-A4AF7909B49A}" />
      <setting name="CognitiveService.MSSDK.FaceEndpointFieldId" value="{EA157DD1-3978-4F40-B99A-020DD8F38EC6}" />
      <setting name="CognitiveService.MSSDK.FaceRetryInSecondsFieldId" value="{8FE5D953-7CE1-4A15-B226-91763C4F0E3A}" />
      <setting name="CognitiveService.MSSDK.LuisFieldId" value="{33343AC0-0F3B-44D1-8131-F8832A184059}" />
      <setting name="CognitiveService.MSSDK.LuisEndpointFieldId" value="{E5202D27-3E41-492D-958C-192D201FB15A}" />
      <setting name="CognitiveService.MSSDK.LuisRetryInSecondsFieldId" value="{2A55F21B-A603-4DB5-AFF9-31AD63DE1179}" />
      <setting name="CognitiveService.MSSDK.LuisIntentConfidenceThresholdFieldId" value="{31F58232-AAAC-440A-9292-FCDF17A69CE2}" />
      <setting name="CognitiveService.MSSDK.QnAFieldId" value="{0585E379-D2AD-43E3-96C3-48102524F0FC}" />
      <setting name="CognitiveService.MSSDK.QnAEndpointFieldId" value="{B4128F27-9669-44E1-9DA8-F7A503AB1B92}" />
      <setting name="CognitiveService.MSSDK.QnARetryInSecondsFieldId" value="{6ACBFBB7-11A8-4AA5-BF27-D37BF3E5311B}" />
      <setting name="CognitiveService.MSSDK.RecommendationsFieldId" value="{E0562F48-1AFA-42A2-86A6-1AA99B369EC6}" />
      <setting name="CognitiveService.MSSDK.RecommendationsEndpointFieldId" value="{3F4382F3-F4CE-418A-BA84-F5A1C897F037}" />
      <setting name="CognitiveService.MSSDK.RecommendationsRetryInSecondsFieldId" value="{73E90D65-9402-4242-9040-DE777B5AADC2}" />
      <setting name="CognitiveService.MSSDK.SpeakerRecognitionFieldId" value="{7864B951-EF10-4711-905B-761FB3EC193A}" />
      <setting name="CognitiveService.MSSDK.SpeakerRecognitionEndpointFieldId" value="{0367E70A-0DA5-44CC-8B3D-C1AD46E29235}" />
      <setting name="CognitiveService.MSSDK.SpeakerRecognitionRetryInSecondsFieldId" value="{B8BBF469-0D09-4957-BE69-856028DE28AB}" />
      <setting name="CognitiveService.MSSDK.SpeechFieldId" value="{3C6D676A-3B25-4C65-86F6-A54AB489BA78}" />
      <setting name="CognitiveService.MSSDK.SpeechEndpointFieldId" value="{B16BD9A1-1749-4240-B971-673B7742C3AB}" />
      <setting name="CognitiveService.MSSDK.SpeechTokenEndpointFieldId" value="{7915DE8D-1BFE-4E43-89C9-E38115A443C2}" />
      <setting name="CognitiveService.MSSDK.SpeechRetryInSecondsFieldId" value="{7CD0E9EB-A524-4423-8263-37F25BA340BE}" />
      <setting name="CognitiveService.MSSDK.TextAnalyticsFieldId" value="{27C94D4C-0AF9-4101-9369-103C601B3657}" />
      <setting name="CognitiveService.MSSDK.TextAnalyticsEndpointFieldId" value="{395E3222-8CAD-4B63-9967-C5E6F689FE45}" />
      <setting name="CognitiveService.MSSDK.TextAnalyticsRetryInSecondsFieldId" value="{97B271E6-D3E9-42DE-9BE7-F1B789AB2E3E}" />
      <setting name="CognitiveService.MSSDK.VideoFieldId" value="{085F7F9C-67EC-4D22-AE14-A7FE806C1F21}" />
      <setting name="CognitiveService.MSSDK.VideoEndpointFieldId" value="{C5942F90-FD38-4E30-85B0-BE3A6A8CA164}" />
      <setting name="CognitiveService.MSSDK.VideoRetryInSecondsFieldId" value="{D0B75D66-B5C1-4540-90A0-2F83FC531369}" />
      <!-- IBMSDK API Fields -->
      <setting name="CognitiveService.IBMSDK.AssistantUsernameFieldId" value="{D1B2CC56-A9E1-4989-9CA3-40F57D0BEA80}" />
      <setting name="CognitiveService.IBMSDK.AssistantPasswordFieldId" value="{08F17E19-E3FA-449C-953D-10CE5D352543}" />
      <setting name="CognitiveService.IBMSDK.AssistantEndpointFieldId" value="{82C41B92-98E6-4CAD-AE0B-747D1CD8EA1A}" />
      <setting name="CognitiveService.IBMSDK.AssistantRetryInSecondsFieldId" value="{410246A3-D56D-4937-9EA4-E604296ED7EA}" />
      <setting name="CognitiveService.IBMSDK.DiscoveryUsernameFieldId" value="{CBCABB1B-04E8-4635-B4DC-10E9A6D13773}" />
      <setting name="CognitiveService.IBMSDK.DiscoveryPasswordFieldId" value="{F7D109A0-82CB-4767-BE42-F2E3B863F92A}" />
      <setting name="CognitiveService.IBMSDK.DiscoveryEndpointFieldId" value="{7D14F4C6-F8D7-4A15-9C91-92A7C0A80CDB}" />
      <setting name="CognitiveService.IBMSDK.DiscoveryRetryInSecondsFieldId" value="{2EB3C609-4570-43DE-BC0E-347F92C426AC}" />
      <setting name="CognitiveService.IBMSDK.KnowledgeCatalogEndpointFieldId" value="{7A4B4CDF-BED1-4FE9-B7BE-F61B775D4267}" />
      <setting name="CognitiveService.IBMSDK.KnowledgeCatalogUsernameFieldId" value="{514DBF98-6F20-499F-AF9D-4CBC16A26F69}" />
      <setting name="CognitiveService.IBMSDK.KnowledgeCatalogPasswordFieldId" value="{4347E0D4-5767-42F9-87E6-FAA3DCF3480C}" />
      <setting name="CognitiveService.IBMSDK.KnowledgeCatalogRetryInSecondsFieldId" value="{B65B421F-13C0-45D2-9588-A36F129C8678}" />
      <setting name="CognitiveService.IBMSDK.KnowledgeStudioEndpointFieldId" value="{97E8EDD4-4FB4-4154-95D7-5D21A006598E}" />
      <setting name="CognitiveService.IBMSDK.KnowledgeStudioUsernameFieldId" value="{A7DFF188-B932-437E-A3B2-F9B010849EAA}" />
      <setting name="CognitiveService.IBMSDK.KnowledgeStudioPasswordFieldId" value="{95252022-E609-436C-99E7-738E52CACF6F}" />
      <setting name="CognitiveService.IBMSDK.KnowledgeStudioRetryInSecondsFieldId" value="{A783DD7B-58C4-468E-8F17-CC6FE0605C72}" />
      <setting name="CognitiveService.IBMSDK.LanguageTranslatorUsernameFieldId" value="{1ADE0E14-03B1-48AC-86BF-947852D8794B}" />
      <setting name="CognitiveService.IBMSDK.LanguageTranslatorPasswordFieldId" value="{859F729E-9315-48B4-8213-F1D004BDC55D}" />
      <setting name="CognitiveService.IBMSDK.LanguageTranslatorEndpointFieldId" value="{A6D916C7-3BC8-4EF0-BFAE-3AFBA53E164D}" />
      <setting name="CognitiveService.IBMSDK.LanguageTranslatorRetryInSecondsFieldId" value="{37636278-537B-48E3-80F5-00E404988EA7}" />
      <setting name="CognitiveService.IBMSDK.MachineLearningEndpointFieldId" value="{A138717C-3186-4411-9705-C937A2E91513}" />
      <setting name="CognitiveService.IBMSDK.MachineLearningUsernameFieldId" value="{D56252A1-FF50-4AB2-83A7-A0304A2FE525}" />
      <setting name="CognitiveService.IBMSDK.MachineLearningPasswordFieldId" value="{4F7700F9-88BB-405B-8D44-A567E08C64C5}" />
      <setting name="CognitiveService.IBMSDK.MachineLearningRetryInSecondsFieldId" value="{C694D427-58EF-4530-BD8C-39124FB80A0A}" />
      <setting name="CognitiveService.IBMSDK.NaturalLanguageClassifierEndpointFieldId" value="{C3E64633-5F61-4FBB-8E3F-B9FACFA42CA0}" />
      <setting name="CognitiveService.IBMSDK.NaturalLanguageClassifierUsernameFieldId" value="{6B41BD56-8CBC-4BF7-9892-699B2882AE06}" />
      <setting name="CognitiveService.IBMSDK.NaturalLanguageClassifierPasswordFieldId" value="{F75DA91B-FFDE-41B5-9B8E-54CE9E0C5251}" />
      <setting name="CognitiveService.IBMSDK.NaturalLanguageClassifierRetryInSecondsFieldId" value="{304BE91F-3A79-47A4-9BCF-A141D9FB4010}" />
      <setting name="CognitiveService.IBMSDK.NaturalLanguageUnderstandingEndpointFieldId" value="{04762617-1C51-443D-914E-A78854B1862F}" />
      <setting name="CognitiveService.IBMSDK.NaturalLanguageUnderstandingUsernameFieldId" value="{28381FFA-BFD7-486C-9737-1E16E0EB2B9A}" />
      <setting name="CognitiveService.IBMSDK.NaturalLanguageUnderstandingPasswordFieldId" value="{4B0E13C5-545C-4C37-AB76-6532A4570796}" />
      <setting name="CognitiveService.IBMSDK.NaturalLanguageUnderstandingRetryInSecondsFieldId" value="{5179BA63-5B32-4035-A8FD-F26584A1815A}" />
      <setting name="CognitiveService.IBMSDK.PersonalityInsightsUsernameFieldId" value="{282CCCC3-615F-477B-A57B-B177FA233538}" />
      <setting name="CognitiveService.IBMSDK.PersonalityInsightsPasswordFieldId" value="{7805A2F3-FB33-4525-B1EC-3A2ECBB2A823}" />
      <setting name="CognitiveService.IBMSDK.PersonalityInsightsEndpointFieldId" value="{8C2861E6-41AD-4EEA-9E89-33A6B2EB2AA3}" />
      <setting name="CognitiveService.IBMSDK.PersonalityInsightsRetryInSecondsFieldId" value="{41F4AFB6-BD8A-405E-B7B1-7AE3AF5EEC73}" />
      <setting name="CognitiveService.IBMSDK.SpeechToTextUsernameFieldId" value="{C2DBDA45-5515-4DB4-9D9C-482D48C7D8D7}" />
      <setting name="CognitiveService.IBMSDK.SpeechToTextPasswordFieldId" value="{40792F08-DFB4-491D-9D5F-CE0BE295FA99}" />
      <setting name="CognitiveService.IBMSDK.SpeechToTextEndpointFieldId" value="{81B1AFAE-B910-45FB-B31B-A15EEB01501C}" />
      <setting name="CognitiveService.IBMSDK.SpeechToTextRetryInSecondsFieldId" value="{B6F7F94F-3B15-4B68-8B6D-8952A216E22E}" />
      <setting name="CognitiveService.IBMSDK.TextToSpeechUsernameFieldId" value="{4D416E8C-D1DD-41E3-B082-43463B9112C0}" />
      <setting name="CognitiveService.IBMSDK.TextToSpeechPasswordFieldId" value="{07EE1DCA-821D-4FBE-AC1B-227D001D7498}" />
      <setting name="CognitiveService.IBMSDK.TextToSpeechEndpointFieldId" value="{0B3BC514-2426-4E08-8E58-E817AE8ACAAE}" />
      <setting name="CognitiveService.IBMSDK.TextToSpeechRetryInSecondsFieldId" value="{29A8CAD0-32DF-4DCD-AA9B-EAF24AF9A0F7}" />
      <setting name="CognitiveService.IBMSDK.ToneAnalyzerUsernameFieldId" value="{3A70AE21-FDFB-45CC-B4AF-6E6136B1B51A}" />
      <setting name="CognitiveService.IBMSDK.ToneAnalyzerPasswordFieldId" value="{485D994B-F864-49DF-AF7C-3808B1227BB6}" />
      <setting name="CognitiveService.IBMSDK.ToneAnalyzerEndpointFieldId" value="{9F42956E-4C46-4B9A-9A54-A6E0D5079886}" />
      <setting name="CognitiveService.IBMSDK.ToneAnalyzerRetryInSecondsFieldId" value="{034155D6-86D1-40A1-B1D9-655C664D6C94}" />
      <setting name="CognitiveService.IBMSDK.VisualRecognitionFieldId" value="{77CE0226-06E2-4CCA-968D-3DC8063D79CE}" />
      <setting name="CognitiveService.IBMSDK.VisualRecognitionEndpointFieldId" value="{55FB4902-3EDC-48FC-BE3A-4D3E0120F461}" />
      <setting name="CognitiveService.IBMSDK.VisualRecognitionRetryInSecondsFieldId" value="{3D728F7B-BF7B-4D26-8DA9-4596852F14A7}"  />
      <!-- LexSDK API Fields-->
      <setting name="CognitiveService.LexSDK.ApiVersionFieldId" value="{113B9C07-668C-412E-BB3B-5FC8237A10EC}"  />
      <setting name="CognitiveService.LexSDK.AppNameFieldId" value="{2161144F-0F0B-400F-90BD-F1D2CF72277E}"  />
      <setting name="CognitiveService.LexSDK.AuthHostFieldId" value="{01CCDE80-2BF8-4BB7-83F5-50F5179639A8}"  />
      <setting name="CognitiveService.LexSDK.AuthAppKeyFieldId" value="{552E49D3-25D9-4757-881A-895D64157FCC}"  />
      <setting name="CognitiveService.LexSDK.ConsumerKeyFieldId" value="{6AC22073-AE05-4CEE-B432-6114110F8DE6}"  />
      <setting name="CognitiveService.LexSDK.ConsumerSecretFieldId" value="{B53218F8-A412-475B-BB35-65A33641F860}"  />
      <setting name="CognitiveService.LexSDK.FormatFieldId" value="{FAD65EC2-F99D-43F3-827F-982F1F8FA2EE}"  />
      <setting name="CognitiveService.LexSDK.HostFieldId" value="{B5DCC29C-11C2-4328-97A9-B94669556F0C}"  />
      <setting name="CognitiveService.LexSDK.PasswordFieldId" value="{2B2FB3A2-59F3-48DD-BBE6-51DD3CEC75B7}"  />
      <setting name="CognitiveService.LexSDK.UseCompressionFieldId" value="{6D6B1F42-069B-4245-9A2C-DFE574D8E1FA}"  />
      <setting name="CognitiveService.LexSDK.UsernameFieldId" value="{DFBAC6C4-3BB4-4819-8EEE-11443E424988}"  />
      <setting name="CognitiveService.LexSDK.WrapperNameFieldId" value="{11F5A639-489C-4A56-BF8E-9362FC1AE4F5}"  />
      <!-- NexSDK API Fields-->
      <setting name="CognitiveService.NexSDK.ApiTokenFieldId" value="{CCCFE40F-624B-4E33-94F3-CF86220B2B11}" />
      <setting name="CognitiveService.NexSDK.ClientVersionFieldId" value="{45443D15-B844-4BD3-8388-C642651383A0}" />
      <setting name="CognitiveService.NexSDK.EndpointFieldId" value="{C58E7B79-733A-426F-9C8D-241954E04B55}" />
    </settings>
  </sitecore>
</configuration>